{% extends 'base.html' %}
{% block title %} Bosh sahifa {% endblock title %}
{% block content %}
{#    {% if user.is_authenticated %}#}
{#        {{ user.username }}, saytga xush kelipsiz!#}
{#        <p><a href="{% url 'logout' %}">Log Out</a></p>#}
{#    {% else %}#}
{#        <p>Siz saytga kirmagansiz!</p>#}
{#        <a href="{% url 'login' %}">Log in</a>#}
{#        <a href="{% url 'signup' %}">Sign up</a>#}
{#    {% endif %}#}
    <div class="jumbotron text-center">
        <h1 class="display-4">News Site</h1>
        <p class="lead"> Eng tezkor yangiliklar bizning saytimizda</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Barcha maqolalarni korish</a>
        </p>
    </div>
{% endblock content %}